.d3-tip {
    font-size: 12px;
    padding: 4px;
    background:  #BCC5D0;
    border-radius: 3px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    line-height: 1;
    color:  #BCC5D0;
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.ne:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: left;
}