<!-- Partial html for fragment sankey view -->

<alert ng-show="alert" type="{{alert.type}}">{{alert.msg}}</alert>
<dl class="dl-horizontal">
    <dt>Scenario</dt>
    <dd>{{scenario.name}}</dd>
    <dt>Fragment</dt>
    <dd>
        <span ng-repeat="navFrag in navigationService.getAll()">
            <ng-switch on="$last">
                <span ng-switch-when="true">{{navFrag.name}}</span>
                <span ng-switch-default><a class="fragment-link" ng-click="onParentFragmentSelected(navFrag,$index)">{{navFrag.name}}</a>
             ></span>
            </ng-switch>
        </span>
    </dd>
    <dt>Activity Level</dt>
    <dd>{{fragment.activityLevel | numFormat }} </dd>
        <dt>Flow Property Type </dt>
    <dd>
        <select id="flow-prop-select" ng-model="selectedFlowProperty" ng-options="fp.name for fp in flowProperties"
                ng-change="onFlowPropertyChange()">
        </select>
    </dd>
        <dt>Reference Unit</dt>
        <dd id="refUnitName">{{selectedFlowProperty.referenceUnit}}</dd>
</dl>

<div class="row">
    <div class="col-md-8">
        <div class="sankey-container">
            <!--suppress HtmlUnknownTag -->
            <sankey-diagram graph="graph" color="color" selected-node="selectedNode"
                            mouse-over-node="mouseOverNode"></sankey-diagram>
        </div>
    </div>
    <div class="col-md-4">
        <div class="flow-container" ng-show="mouseOverNode">
            <label>Input Flows</label>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Magnitude</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="if in inputFlows">
                    <td>{{if.name}}</td>
                    <td>{{if.magnitude | numFormat}}</td>
                    <td>{{if.unit}}</td>
                </tr>
                </tbody>
            </table>
            <label>Output Flows</label>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Magnitude</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="of in outputFlows">
                    <td>{{of.name}}</td>
                    <td>{{of.magnitude | numFormat}}</td>
                    <td>{{of.unit}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


