@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using LCAToolAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "CalRecycle - Used Oil LCA - Data API";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                This is the documentation for the API portion CalRecycle Used Oil LCA online tool project.  
                The purpose of the project is to make life cycle inventory (LCI) information and impact 
                assessment (LCIA) results of the SB 546 Used Oil LCA study available to the public.  The API portion
                is the "backend" of the project, which makes the data available.  It is accompanied by a "Frontend"
                component for visualizing the information, which can be found <a href="../../lcatoolfrontend">here</a>.
            </p>
            <p>
                This API provides information that is (a) stateless and (b) self-documenting (REST design model).  The 
                user accesses data by requesting resources by specifying them as URIs.  This page documents the different
                resources available for query.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
