<!-- Partial html for home page -->
<alert ng-show="alert" type="{{alert.type}}">{{alert.msg}}</alert>
<div class="panel panel-default">
    <div class="panel-heading">Scenarios</div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Activity Level</th>
            <th>Top Level Fragment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="scenario in scenarios">
            <td>{{scenario.name}}</td>
            <td>{{scenario.activityLevel | numFormat}}</td>
            <td>
                <a ui-sref=".fragment({scenarioID: scenario.scenarioID, fragmentID: scenario.topLevelFragmentID})">
                    {{fragments[scenario.topLevelFragmentID].name}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">LCIA Methods</div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Active</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="method in lciaMethods">
            <td>
                <label>
                    <input type="checkbox" ng-model="method.isActive" ng-change="method.storeIsActive()">
                </label>
            </td>
            <td ng-style="{'background-color' : method.getDefaultColor()}">
                <a ui-sref="lcia-method({lciaMethodID: method.lciaMethodID})">
                    {{method.name}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
