<!-- Partial html for home page -->
<info ng-show="displayInfo">{{infoMsg.home.msg}}</info>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Scenarios</span>
        <button class="btn btn-default btn-sm pull-right" ng-show="canCreate" ng-click="createScenario()">New</button>
        <div class="clearfix"></div>
    </div>
    <info ng-show="displayInfo">{{infoMsg.home.scenarios.msg}}</info>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Scenario</th>
            <th>Activity Level</th>
            <th>Top Level Fragment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="scenario in scenarios">
            <td>
                <a ui-sref=".scenario({scenarioID: scenario.scenarioID})">
                {{scenario.name}}
                </a>
            </td>
            <td>{{scenario.activityLevel | numFormat}}</td>
            <td>
                <a ui-sref=".fragment-sankey({scenarioID: scenario.scenarioID, fragmentID: scenario.topLevelFragmentID})">
                    {{fragments[scenario.topLevelFragmentID].name}}
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm" title="Clone" ng-click="cloneScenario(scenario)"
                        ng-show="canCreate">
                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"  ></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" title="Delete" ng-click="deleteScenario(scenario)"
                        ng-show="canDelete(scenario)" >
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"  ></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">LCIA Methods</span>
    </div>
    <info ng-show="displayInfo">{{infoMsg.home.lciaMethods.msg}}</info>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Active</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="method in lciaMethods">
            <td>
                <label>
                    <input type="checkbox" ng-model="method.isActive" ng-change="method.storeIsActive()">
                </label>
            </td>
            <td ng-style="{'background-color' : method.getDefaultColor()}">
                <a ui-sref=".lcia-method({lciaMethodID: method.lciaMethodID})">
                    {{method.name}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
