/* app css stylesheet */
.chart-title {
    font-weight: bold;
}

.d3-tip {
    line-height: 1;
    font-size: 12px;
    padding: 12px;
    width: 100px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

.sankey-container {
    height: 650px;
}

.fragment-link {
    cursor: pointer;
}

.flow-container {
    font-size: 0.8em;
    line-height: 1;
}

.flow-container table {
    border-style: none;
}

.flow-container th {
    background-color: #eee;
}

.lcia-bar-container {
    font-size: 0.8em;
    height: 100%;
}

.header text {
    font-weight: bold;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

waterfall-chart .y.axis path {
    /*display: none; */
    stroke-opacity: 0.2;
}

.gridStyle {
    /*border: 1px solid rgb(212,212,212);*/
    width: 100%;
    /* height to fit not supported, unfortunately */
    height: 600px;

    font-size: 12px;
}

.cellIcon {
    text-align: center;
}


