<accordion close-others="false">
    <accordion-group is-open="accordionStatus.attributesOpen">
        <accordion-heading>
            LCIA Method Attributes
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': accordionStatus.attributesOpen, 'glyphicon-chevron-right': !accordionStatus.attributesOpen}"></i>
        </accordion-heading>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{lciaMethod["name"]}}</dd>
            <dt>Methodology</dt>
            <dd>{{lciaMethod["methodology"]}}</dd>
            <dt>Impact Category</dt>
            <dd>{{impactCategory["name"]}}</dd>
            <dt>Impact Indicator</dt>
            <dd>{{lciaMethod["impactIndicator"]}}</dd>
            <dt>Reference Year</dt>
            <dd>{{lciaMethod["referenceYear"]}}</dd>
            <dt>Duration</dt>
            <dd>{{lciaMethod["duration"]}}</dd>
            <dt>Impact Location</dt>
            <dd>{{lciaMethod["impactLocation"]}}</dd>
            <dt>Indicator Type</dt>
            <dd>{{lciaMethod["indicatorType"]}}</dd>
            <dt>Normalization</dt>
            <dd>{{lciaMethod["normalization"]}}</dd>
            <dt>Weighting</dt>
            <dd>{{lciaMethod["weighting"]}}</dd>
            <dt>Use Advice</dt>
            <dd>{{lciaMethod["useAdvice"]}}</dd>
            <dt>Reference Quantity</dt>
            <dd>{{lciaMethod["referenceFlowProperty"]["name"]}}</dd>
        </dl>
    </accordion-group>
</accordion>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">LCIA Characterization Factors</span>
    </div>
    <div class="panel-body">
        <label for="selectScenario">Scenario</label>
        <select id="selectScenario" ng-model="paramScenario"
                ng-options="scenario.name for scenario in scenarios"
                ng-change="onScenarioChange()"></select>
        <button class="btn btn-sm pull-right" ng-disabled="noValidChanges()" ng-click="applyChanges()">Apply Changes</button>
    </div>
    <param-grid options="options" data="gridData" columns="gridColumns" params="params"></param-grid>
</div>

