
sankey-diagram text {
    font: 10px sans-serif;
}

/*sankey-diagram text {*/
    /*pointer-events: none;*/
    /*text-shadow: 0 1px 0 #fff;*/
/*}*/

sankey-diagram .link path {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

sankey-diagram .link:hover {
    stroke-opacity: .5;
}

sankey-diagram .node rect {
    /*cursor: move;*/
    shape-rendering: crispEdges;
    opacity: 1;
    stroke-width:2;
}

sankey-diagram {
    width: 100%;
    height: 100%;
    display: block;
}

.legend-row text {
    font: 10px sans-serif;
}

