<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.antelope-lca.net/uo-lca</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://web807.discountasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>antelope-lca.net/uo-lca</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>antelopelca</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UsedOilLCAContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL2k1202.discountasp.net;Initial Catalog=SQL2012_980304_antelope;Integrated Security=False;User ID=SQL2012_980304_antelope_user;Password=hf%aytd%%tpiaga;Connect Timeout=15;Encrypt=False;Packet Size=4096" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LcaDataModel.UsedOilLCAContext, LcaDataModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Repository.Pattern.Ef6.DataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.Pattern.Ef6.DataContext, Repository.Pattern.Ef6" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EntityDataModel" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LcaDataModel.EntityDataModel, LcaDataModel" MigrationConfiguration="LcaDataModel.Migrations.Configuration, LcaDataModel" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntityDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Repository.Pattern.Ef6.DataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UsedOilLCAContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL2k1202.discountasp.net;Initial Catalog=SQL2012_980304_antelope;Integrated Security=False;User ID=SQL2012_980304_antelope_user;Password=hf%aytd%%tpiaga;Connect Timeout=15;Encrypt=False;Packet Size=4096</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="EntityDataModel" />
    <_ConnectionStringsToInsert Include="Repository.Pattern.Ef6.DataContext" />
  </ItemGroup>
</Project>