

.heading {
  text-align: center;
}

text {
    font: 10px sans-serif;
}

#selectionLabel {
    padding-right: 5px;
}

#selectionRow {
    margin-bottom: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*
.x.axis path {
  display: none;
}
*/

.y.axis path {
  display: none;
}

.reference.line  {
  stroke: #000;
  stroke-width: 1;
  stroke-opacity: 0.2;
}

.bar.text {
  font: 10px sans-serif;
  text-anchor: left;
}

.connect.line  {
  stroke-width: 2;
}

.end.line {
  stroke-width: 3;
}
/*
 * Grid background for charts.
 * Not currently used.
 *
.grid-background {
  fill: #ddd;
  fill-opacity:0.1
}

.grid line {
  stroke: #fff;
}

.grid .minor line {
  stroke-opacity: .5;
}

.grid text {
  display: none;
}

.grid path {
  display: none;
}
*/
