
/**
  * Override sankey style appropriate for movable nodes.
  */
.node rect {
    cursor: pointer;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  text-shadow: 0 1px 0 #fff;
}

.vis-panel {
    display: inline-block;
    vertical-align: top;
    width: 310px;
    font-size: 0.8em;
}

.vis-panel table {
    width: 300px;
}

.vis-panel th {
    background-color: #eee;
}

fieldset label {
	font-weight: bold;
    vertical-align: middle;
    padding-left: 1.5em;
}

#refUnitName {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}



