
/**
  * Override sankey style appropriate for movable nodes.
  */
.node rect {
    cursor: pointer;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  text-shadow: 0 1px 0 #fff;
}

.vis-panel {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    font-size: 0.8em;
}

#unitLabel {
    padding-left: 2em;
    padding-right: 1em;
}



