<div ng-if="navigationService===null">
    <div class="float-block">
        <label>Fragment</label>
    <span isteven-multi-select
          button-label="name"
          item-label="name"
          input-model="fragmentSelection.options"
          output-model="fragmentSelection.model"
          tick-property="selected"
          selection-mode="single"
          on-item-click="onFragmentChange()">
    </span>
    </div>
    <div class="float-block">
        <label>Scenarios</label>
    <span isteven-multi-select
          button-label="name"
          item-label="name"
          input-model="scenarioSelection.options"
          output-model="scenarioSelection.model"
          tick-property="selected">
    </span>
    </div>
    <!--<div class="float-block">-->
        <!--<button type="button" class="btn btn-primary btn-sm" ng-click="selectionConfirmed()"-->
                <!--ng-disabled="!scenarioSelection.model || scenarioSelection.model.length < 1">-->
            <!--Display Results-->
        <!--</button>-->
    <!--</div>-->
</div>
<div ng-if="navigationService">
    <div class="row">
        <div class="col-md-9">
            <h4>Fragment LCIA</h4>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-link pull-right"
                    ui-sref="^">
                Back to Sankey Diagram
            </button>
        </div>
    </div>
        <dl class="dl-horizontal">
            <dt>Scenario</dt>
            <dd>{{navigationScenario.name}}</dd>
            <dt>Fragment</dt>
            <dd>
                <span ng-repeat="navFrag in navigationService.getAll()">
                    <ng-switch on="$last">
                        <span ng-switch-when="true">{{navFrag.name}}</span>
                        <span ng-switch-default><a class="fragment-link"
                                                   ng-click="onParentFragmentSelected(navFrag,$index)">{{navFrag.name}}</a>
                     ></span>
                    </ng-switch>
                </span>
            </dd>
            <dt>Sub-fragments</dt>
            <dd ng-if="!navigationSelection.options.length">
            </dd>
            <dd ng-if="navigationSelection.options.length > 0">
               <span isteven-multi-select
                     button-label="name"
                     item-label="name"
                     input-model="navigationSelection.options"
                     output-model="navigationSelection.model"
                     tick-property="selected"
                     selection-mode="single"
                     on-item-click="onFragmentNavigation()">
                </span>
            </dd>
            <dt>Activity Level</dt>
            <dd>{{fragment.activityLevel | numFormat }}</dd>
        </dl>
</div>
<div class="row" ng-if="scenarios.length">
    <div ng-repeat="method in methods" class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" ng-style="{'background-color' : method.getDefaultColor()}">
                <button type="button" class="close" ng-click="removeMethod(method)" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <dt>
                    <a ui-sref="lcia-method({lciaMethodID: method.lciaMethodID})">
                        {{method.getShortName()}}
                    </a>
                </dt>
                <dd>{{method.referenceFlowProperty.name}}</dd>
            </div>
            <div class="panel-body">
                <div ng-repeat="scenario in scenarios" class="row">
                    <div class="lcia-bar-container">
                        <waterfall-chart service="waterfalls[method.lciaMethodID]" index="$index"
                                         color="method.getDefaultColor()" chart-title="scenario.name"
                                         unit="method.referenceFlowProperty.referenceUnit"></waterfall-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

