
    <label>Fragment</label>
    <select id="fragment-select" ng-model="fragment" ng-options="f.name for f in fragments"
            ng-change="onFragmentChange()">
    </select>
        <p></p>

<div class="row">
    <div ng-repeat="method in methods" class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <dt>{{method.shortName}}</dt>
                <dd>{{method.referenceFlowProperty.name}}</dd>
            </div>
            <div class="panel-body">
                <div ng-repeat="scenario in scenarios" class="row">
                    <div class="lcia-bar-container">
                        <waterfall-chart service="waterfalls[method.lciaMethodID]" index="$index"
                                         color="colors[method.lciaMethodID]" title="scenario.name"
                                         unit="method.referenceFlowProperty.referenceUnit"></waterfall-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

