<!-- Partial html for process LCIA view -->
<alert ng-show="alert" type="{{alert.type}}">{{alert.msg}}</alert>
<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Scenario</dt>
            <dd>{{scenario.name}}</dd>
            <dt>Activity Level</dt>
            <dd>{{activityLevel}}</dd>
            <dt>Process</dt>
            <dd>{{process.name}}</dd>
        </dl>
        <ul class="list-unstyled">
            <li ng-repeat="method in lciaMethods" class="lcia-method">
                <dl class="dl-horizontal">
                    <dt>Method</dt>
                    <dd>{{method.name}}</dd>
                    <dt>Total Impact</dt>
                    <dd>{{lciaResults[method.lciaMethodID].cumulativeResult}}</dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="flow-container" ng-show="flowsVisible">
            <label>Input Flows</label>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Magnitude</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="if in inputFlows">
                    <td>{{if.name}}</td>
                    <td>{{if.magnitude | number}}</td>
                    <td>{{if.unit}}</td>
                </tr>
                </tbody>
            </table>
            <label>Output Flows</label>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Magnitude</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="of in outputFlows">
                    <td>{{of.name}}</td>
                    <td>{{of.magnitude | number}}</td>
                    <td>{{of.unit}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



